.cart-container {
  width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}

.cart-items {
  width: 50%;
  padding: 20px 0;
  border: 1px solid var(--border-color);
  border-radius: 24px;
}

.cart-items .product {
  position: relative;
  height: 120px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--border-color);
  margin-right: 20px;
  margin-left: 20px;
}
.cart-items .product:not(:last-child) {
  margin-bottom: 10px;
}

.cart-items .product .product-img {
  height: 100%;
}
.cart-items .product img {
  width: 150px;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-right: 1px solid var(--border-color);
}

.cart-items .product .close-icon {
  font-size: 32px;
  position: absolute;
  top: -13px;
  right: -13px;
  cursor: pointer;
  transition: 0.3s;
}
.cart-items .product .close-icon:hover {
  color: var(--accent-color-hover);
}

.total-price {
  margin-bottom: 10px;
}

.client-infos,
.total-price {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 24px;
}

.total-price h1 {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.client-infos h1 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 10px;
}

.client-infos .form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.client-infos .form input {
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  outline: none;
  border-radius: 24px;
  width: 250px;
  font-size: 14px;
}

.client-infos .form textarea {
  resize: none;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  outline: none;
  border-radius: 24px;
  width: 250px;
  height: 150px;
  font-size: 14px;
}

.client-infos .form-btn {
  border: none;
  outline: none;
  padding: 6px 20px;
  border-radius: 24px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
}
.client-infos .form-btn:hover {
  transform: scale(1.03);
}

@media (max-width: 840px) {
  .cart-container {
    flex-direction: column;
    gap: 20px;
  }
  .cart-items {
    width: 100%;
  }
  .cart-right {
    width: 100%;
    margin-bottom: 10px;
  }
}
