.partners-container {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 100px;

  position: relative;
  background-color: #ececec;
  height: 100px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.partners-container:hover img {
  animation-play-state: paused;
}

.partners-container img {
  width: 100px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;

  position: absolute;
  left: 100%;
  animation-name: scroll-left;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.partners-container img:hover {
  opacity: 1;
}

.partners-container .img-1 {
  animation-delay: calc(20s / 8 * (8 - 1) * -1);
}
.partners-container .img-2 {
  animation-delay: calc(20s / 8 * (8 - 2) * -1);
}
.partners-container .img-3 {
  animation-delay: calc(20s / 8 * (8 - 3) * -1);
}
.partners-container .img-4 {
  animation-delay: calc(20s / 8 * (8 - 4) * -1);
}
.partners-container .img-5 {
  animation-delay: calc(20s / 8 * (8 - 5) * -1);
}
.partners-container .img-6 {
  animation-delay: calc(20s / 8 * (8 - 6) * -1);
}
.partners-container .img-7 {
  animation-delay: calc(20s / 8 * (8 - 7) * -1);
}
.partners-container .img-8 {
  animation-delay: calc(20s / 8 * (8 - 8) * -1);
}

@keyframes scroll-left {
  from {
  }
  to {
    left: -100px;
  }
}

@media (max-width: 900px) {
  .partners-container img {
    width: 70px;
    left: calc(100px * 8);
  }
}

@media (max-width: 500px) {
  .partners-container {
    height: 70px;
  }
}
