.footer-container {
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-container > div {
  height: 200px;
}

.footer-container .logo-name a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent-color);
  user-select: none;
}

.footer-container p,
.footer-container a {
  font-size: 15px;
  color: var(--text-secondary);
  text-decoration: none;
}

.footer-container h1 {
  font-size: 20px;
  font-weight: 700;
}

.footer-container .right-footer {
  width: 30%;
}

.footer-container .right-footer .love-msg {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
}

.footer-container .right-footer .footer-btn {
  border: none;
  outline: none;
  padding: 6px 20px;
  border-radius: 24px;
  background: var(--accent-color);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  color: #fff;
}
.footer-container .right-footer .footer-btn:hover {
  transform: scale(1.04);
}
.footer-container .right-footer .footer-btn a {
  text-decoration: none;
  color: #fff;
}

.footer-container .left-footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer-container .left-footer > div {
  height: 100%;
}

.footer-container .left-footer .imp-links > div,
.footer-container .left-footer .quick-links > div {
  padding: 8px 0;
}

.footer-container .left-footer .address > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-container .left-footer .address .info-icon {
  font-size: 18px;
}

.footer-container .left-footer .address .social-media {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.footer-container .left-footer .address .social-media .social-icon {
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.footer-container .social-icon:nth-child(1):hover {
  color: #f85127;
}
.footer-container .social-icon:nth-child(2):hover {
  color: #d61818;
}
.footer-container .social-icon:nth-child(3):hover {
  color: #3850da;
}

@media (max-width: 800px) {
  .footer-container {
    padding-top: 80px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .footer-container .right-footer {
    border-top: 1px solid var(--border-color);
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }
  .footer-container .left-footer {
    width: 100%;
  }
  .footer-container h1 {
    font-size: 17px;
  }
  .footer-container .left-footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer-container .left-footer > div {
    text-align: center;
  }
  .footer-container .left-footer .address .social-media {
    justify-content: center;
  }
}
